@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
}

.form,
.otp-validation-form {
  display: grid;
  grid-gap: 1.5rem;
  padding: 3rem;
  padding-left: 10rem;
  width: 600px;
  height: 300px;

  justify-content: start;
  align-content: center;

  margin: 10vh calc((100% - 600px) / 2);
  background-color: rgba(255, 255, 255, 0.397);

  border-radius: 8px;
}

.otp-validation-form {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: repeat(2, max-content);
}

.otp-validation-form .message {
  width: 300px;
  font-size: 1.2rem;
}

.form {
  grid-template-columns: max-content;
  grid-template-rows: repeat(4, max-content);
}

.validation-successful {
  display: none;
  width: 100vw;
  height: 100vh;

  text-align: center;
  margin-top: 45vh;
  color: white;
}

.col-left {
}

.col-right {
  /* justify-self: center; */
}

.col-right input {
  width: 250px;

  min-width: 200px;
}

.inputs {
  font-size: 1.6rem;
  border: none;
  padding: 0.8rem 1.2rem;
}

.inputs:focus {
  outline: none;
}

/* .fullname-left {
  grid-column: 1 / span 1;
  grid-row: 1 / 2;
} */

/* .fullname-right {
  grid-column: 2 / span 1;
  grid-row: 1 / 2;
} */

/* .form .button {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
} */

.button button {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 2rem;

  color: white;
  background-color: #28b485;

  transition: all 0.2s;

  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.158);
}

.button button:hover {
  transform: translateY(-3px);
}

.button button:active {
  transform: translateY(4px);
}
/*
////////////////////////////////////
/////////////////////////////////////
*/
.phone-detail {
  width: 10rem;
}

.alert-fullname,
.alert-email {
  display: block;
  font-size: 1rem;
  color: orangered;
  visibility: hidden;
}

.mobile-provider,
.state {
  display: inline;
  font-size: 1rem;
}

.mobile-provider-logo {
  display: none;
  height: 1.25rem;
}

/*-----------------otp form--------------------*/

.message {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(66, 66, 66);

  letter-spacing: 1px;
}

.attempt-alert {
  font-size: 1.5rem;
  color: orangered;
}
